<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.appautomatic.heartthinking">

    <application
        android:allowBackup="true"
        android:icon="@drawable/spades_ace"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spades_ace"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity">

        </activity>

        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:name=".HandViewerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>